DATABASE_USER=postgres
DATABASE_PASSWORD=10242048
DATABASE_NAME=wibu-site
DATABASE_TYPE=postgresql
HOST=postgres
DATABASE_PORT=5432
PROJECT_PORT=3000
PGADMIN_DEFAULT_EMAIL=duongvm@gmail.com
PGADMIN_DEFAULT_PASSWORD=10242048